body {
    margin: 5%;
}
h1 {
    text-align: center;
}
.dow,
.date{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.month {
    text-align: center;
}

.date div:first-of-type{
    grid-column-start: 2;
}
.date ul{
    margin-top: 1.25em;
}